@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}

body {
    background-color: #f0eee9;
    line-height: 1.7;
    color: #222;
    font-family: "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #73a1a7;
    display: flex;
    align-items: center;
    padding: 0 34px;
    transition: padding;
    justify-content: space-between;
}

.logo {
    width: 28px;
    height: auto;
    fill: #f0eee9;
    display: flex;
    justify-content: center;
}

.logo svg:hover {
    fill: #f0eee990;
}

.main-nav {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    display: flex;
    font-size: 1.25rem;
    list-style: none;
}

.pc-nav li {
    margin-left: 40px;
}

.main-nav a {
    color: #f0eee9;
}

.main-nav a:hover {
    color: #f0eee990;
}

@media screen and (max-width: 680px) {
    .pc-nav {
        display: none;
    }
}

@media screen and (min-width: 681px) {
    .sp-nav {
        display: none;
    }
}

.hamburger-menu_list {
    background-color: #73a1a7;
    display: flex;
    flex-direction: column;
    left: 0px;
    padding: 2rem;
    position: absolute;
    transform: scaleY(0%) ;
    transform-origin: top;
    transition: 0.3s;
    top: 100%;
    width: 100%;
    text-align: center;
}

#hamburger:checked ~ .hamburger-menu_list {
    transform: scaleY(100%);
    transition: 0.3s;
}

.hamburger-menu_input {
    display: none;
}

.hamburger-menu_button {
    display: none;
}

.hamburger-menu_button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    width: 34px;
}

.hamburger-menu_button-mark {
    background-color: #f0eee9;
    display: block;
    height: 2px;
    transition: 0.3s;
    width: 25px;
    border-radius: 2px;
}

#hamburger:checked
~ .hamburger-menu_button
.hamburger-menu_button-mark:nth-of-type(1) {
    transform: translate(4px, 1px) rotate(45deg);
    transform-origin: 0%;
}

#hamburger:checked
~ .hamburger-menu_button
.hamburger-menu_button-mark:nth-of-type(2) {
    opacity: 0;
}

#hamburger:checked
~ .hamburger-menu_button
.hamburger-menu_button-mark:nth-of-type(3) {
    transform: translate(4px, 1px) rotate(-45deg);
    transform-origin: 0%;
}

/* Main Contents */
.wrapper {
    padding: 0 12%;
}

.top {
    text-align: center;
    margin-top: 94px;
	display: block;
}

.top h1 {
    font-size: 2em;
}

.top h2 {
    font-size: 1.4em;
}

.top p {
    margin: 0 auto;
    margin-top: 18px;
}

.announce {
    max-width: 600px;
    margin: 0 auto;
}

.announce h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 1.35em;
}

.announce-box {
    padding: 15px 20px;
    box-shadow: 0 0 7px #00000030;
    border-radius: 20px;
}

.announce-box_date {
    font-size: 0.75em;
}

.announce-box_text {
    font-size: 1em;
}

.profile {
    text-align: center;
    margin-top: 94px;
	display: block;
}

.profile h1 {
    font-size: 2em;
}

.profile h2 {
    font-size: 1.4em;
    margin-top: 10px;
}

.profile p {
    margin: 0 auto;
    margin-top: 16px;
    text-align: justify;
	display: inline-block;
}

.profile-logo {
    width: 130px;
    height: 130px;
    font-size:12px;
    display:flex;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50%;
    background-color: #353535;
}

.profile-logo svg {
    width:60px;
    margin: 0 auto;
    fill: #33bea7;
}

/*FOOTER*/
footer {
    color: #222;
    margin-top: 60px;
}

.footer-nav-list {
    text-align: center;
}

.footer-nav-list li {
    margin: 20px;
    display: inline;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
}