@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}

body {
    background-color: #fff;
    line-height: 1.7;
    color: #222;
    font-family: "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 34px;
}

.logo {
    width: 28px;
    height: auto;
    fill: #222;
    display: flex;
    justify-content: center
}

.logo svg:hover {
    fill: #73a1a7;
}

.main-nav {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    display: flex;
    font-size: 1.25rem;
    list-style: none;
}

.main-nav li {
    margin-left: 40px;
}

.main-nav a {
    color: #222;
}

.main-nav a:hover {
    color: #73a1a7;
}

#page-header {
    transition: padding;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 5px 0 #222;
}

/* Main Contents */
.wrapper {
    padding: 0 12%;
}

.top {
    text-align: center;
    margin-top: 64px;
}

.announce {
    max-width: 600px;
    margin: 0 auto;
}

.announce h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 5px;
}
.announce-box {
    padding: 20px;
    border: 2px solid #73a1a7;
    border-radius: 20px;
}

/*FOOTER*/
footer {
    background-color: #fff;
    color: #222;
    margin-top: 60px;
}

.footer-nav-list {
    text-align: center;
}

.footer-nav-list li {
    margin: 20px;
    display: inline;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}